  <h1>Hello</h1>

  <% if (username){ %>

  <h2>This is <%= username%>'s Tiny app</h2>
      <button name="logout" type="submit">Logout</button>

  <% } else { %>
    <form method="POST" action="/login">
      <input type="text" name="username"><br>
      <button name="login" type="submit">Submit</button>\
  </form>

  <% } %>

