  <h1>Hello</h1>


  <% if (user){ %>

  <h2>This is <%= user.id %>'s Tiny app</h2>
      <form method="POST" action="/logout">
      <button name="logout" type="submit">Logout</button>
      </form>

       <a href="/urls/new">New URL</a>
  <% } %>



