<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
     <% include ./partials/_header %>
    <ul>
    <% for (const key in urls) { %>
      <li><%= key %>
      <li>
      <%= urls[key].longURL; %> <br/>
      </li>
      <form method="POST" action="/urls/<%= key %>/delete">
        <button name="delete" type="submit">Delete</button>
      </form>

      <form method="POST" action="/urls/<%= key %>">
      <input type="text" name="updateURL">
      <button name="update" type="submit">Update</button>
      </form>
      </li>
    <% } %>
    </ul>
</body>
</html>