<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <%  if(locals.msg === "empty"){ %>
    Email and password cannot be empty.
    <% } if (locals.msg === "repeated email") { %>
    Email has already been used.
    <%  } %>
 <form method="POST" action="/register">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <button name="Register" type="submit">Register</button>
    </form>
</body>
</html>